* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #011627;
  color: #0d90fc;
}

button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 18px;
  background-color: #0b6fc2;
  border: none;
  outline: none;
  font-family: inherit;
  margin-bottom: 16px;
}

#wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  display: grid;
  width: 600px;
  height: 600px;
}
#container div {
  border: solid 1px #0b6fc2;
}
